.black {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 300;
    width: 100%;
    background: #191919;


    .main-bar {
        // position: absolute;
        top: 0;
        // z-index: 1;
        padding-left: 50px;
        padding-right: 50px;
        // height: auto;
        transition: .3s;


        .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            transition: 0, 3 all;


            .links {

                text-align: center;
                font-size: 16px;
                margin: 20px 0 20px 0;
                display: flex;
                // justify-content: space-between;


                li {
                    display: inline-block;
                    margin: 0 9px 0 0;
                    padding: 0 9px 0 0;
                    // position: relative;



                    a {
                        color: $primary-color;
                        position: relative;
                        padding: 20px 0;

                        &:hover {
                            color: #F9004D;

                            &:after {
                                width: 100%;
                            }

                        }

                        &:after {
                            position: absolute;
                            content: "";
                            left: 0;
                            width: 0;
                            height: 3px;
                            background: #f9004d;
                            transition: .3s;
                            bottom: 0;
                            z-index: 5;




                        }



                    }


                }
            }

            .rigth {
                display: flex;
                justify-content: space-between;
                align-items: center;
                transition: 0, 3 all;

                .column-button {
                    position: relative;

                    padding-right: 15px;
                    padding-left: 15px;
                    margin-left: auto;
                    margin-right: auto;



                    .gallery-button-dwn {


                        text-align: center !important;
                        display: inline-block;





                        .a-dwn {
                            color: #fff;
                            border: 2px solid hsla(0, 0%, 100%, .3);
                            background-color: hsla(0, 0%, 0%, 0);
                            padding: 15px 40px;
                            height: 40px;
                            line-height: 34px;
                            border-radius: 4px;
                            font-size: 16px;
                            font-weight: 500;
                            position: relative;
                            z-index: 100;
                            color: $primary-color;
                            letter-spacing: .2px;
                            text-transform: uppercase;
                            transition: .7s;




                            &:hover {

                                background-color: hsla(0, 0%, 0%, 0);
                                top: -5px;

                                background-color: #f9004d;
                                border: 2px solid #f9004d;


                            }

                        }
                    }

                    .social {

                        text-align: center;
                        font-size: 16px;
                        margin: 20px 0 20px 0;
                        display: flex;

                        li {



                            display: inline-block;
                            margin: 0 9px 0 0;
                            padding: 0 9px 0 0;




                            a {


                                font-size: 25px;
                                color: $primary-color;
                                opacity: 0.8;
                                position: relative;

                                i {
                                    position: relative;
                                }

                                &:hover {
                                    top: -5px;
                                }

                            }
                        }
                    }
                }
            }

        }

    }
}